In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_excel('/Users/amitmishra/Downloads/Datasets/team_results.xlsx')
df.head()

,Team,Houston Rockets,Dallas Mavericks,Boston Celtics,Toronto Raptors,Denver Nuggets,Houston Rockets.1,Dallas Mavericks.1,Boston Celtics.1,Toronto Raptors.1,...,Houston Rockets.3,Dallas Mavericks.3,Boston Celtics.3,Toronto Raptors.3,Denver Nuggets.3,Houston Rockets.4,Dallas Mavericks.4,Boston Celtics.4,Toronto Raptors.4,Denver Nuggets.4
0,Houston Rockets,X,1,1,-1,1,X,-1,-1,1,...,X,1,-1,-1,1,X,-1,-1,1,1
1,Dallas Mavericks,NaN,X,1,1,-1,NaN,X,1,-1,...,NaN,X,-1,-1,1,NaN,X,1,1,1
2,Boston Celtics,NaN,NaN,X,1,-1,NaN,NaN,X,-1,...,NaN,NaN,X,-1,1,NaN,NaN,X,1,1
3,Toronto Raptors,NaN,NaN,NaN,X,1,NaN,NaN,NaN,X,...,NaN,NaN,NaN,X,-1,NaN,NaN,NaN,X,-1
4,Denver Nuggets,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,X

In [1]:
from scipy.special import betainc
import numpy as np

# Team posteriors
a1, b1 = 8, 12  # Denver: Beta(8, 12)
a2, b2 = 13, 7  # Dallas: Beta(13, 7)

print("=== METHOD: Direct Integration ===")


# Method 2
# P(Beta(a1,b1) > Beta(a2,b2)) has a known solution:
from scipy.special import betaln
from scipy import integrate

def beta_comparison_exact(a1, b1, a2, b2):
    """Exact calculation of P(X > Y) for X~Beta(a1,b1), Y~Beta(a2,b2)"""
    
    def integrand(y):                               # y = specific dallas skill level
        # P(X > y) for X~Beta(a1,b1)
        from scipy.stats import beta
        prob_x_greater = 1 - beta.cdf(y, a1, b1)    #Chance Denver's skill > Dallas' Skill
        # PDF of Y~Beta(a2,b2) at point y
        pdf_y = beta.pdf(y, a2, b2)                 #How likely is Dallas to have exactly skill level y?
        return prob_x_greater * pdf_y
    
    result, _ = integrate.quad(integrand, 0, 1)
    return result

exact_prob = beta_comparison_exact(a1, b1, a2, b2)
print(f"Exact integration: {exact_prob:.1%}")

=== METHOD1: Simple Ratio Calculation ===
Simple approximation: 38.1%
=== METHOD2: Direct Integration ===
Exact integration: 5.2%

In [2]:
# Method 3: Monte Carlo (larger sample for accuracy)
np.random.seed(42)
n_samples = 1000000
denver_samples = np.random.beta(a1, b1, n_samples)
dallas_samples = np.random.beta(a2, b2, n_samples)
simulation_prob = (denver_samples > dallas_samples).mean()
print(f"Monte Carlo (1M samples): {simulation_prob:.1%}")

print(f"\nFINAL ANSWER:")
print(f"Denver has approximately {exact_prob:.1%} chance of beating Dallas")

Monte Carlo (1M samples): 5.2%

FINAL ANSWER:
Denver has approximately 5.2% chance of beating Dallas